@media only screen and (min-width: 48rem) {
    nav button{display: none;}

    nav ul#primaryNav {
        display: flex;
        margin-right: 2vw;
        /*border-left: 1px solid rgba(0,0,0,0.3);*/
    }

    nav ul li a{
        border:none;
       border-right: 1px solid rgba(0,0,0,0.3);
    }

    main {
        display: grid;
        /*height: 100vh;*/
        grid-template-columns:(8, 1fr);
        /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr;*/
        /*background-color: white;*/
        grid-template-areas:
            "content4 content4 content4 content4 content4 content4 content4 content4" 
            "content5 content5 content5 content5 content5 content5 content5 content5"
            "content6 content6 content6 content6 content6 content6 content6 content6"
            "content3 content3 content3 content3 content3 content3 content3 content3"
            "content1 content1 content1 content1 content1 content2 content2 content2";
        /*gap: 5px;*/
    }

    #content3 {
        display: block;
      }
    .spotlight3 {
        display: none;
      }
    #content6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
      }
    .spotlight1 {
        grid-column: 1/2;
        grid-row: 1/2;
      }
    .spotlight2{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    /*#content1{
        grid-area: content1;
        background-color: #ffcfb7;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 15px;
    }  
    #content2{ 
        grid-area: content2;
        background-color: #ffcfb7;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 15px;   
           
    }
    #content3{ 
        grid-area: content3;
        background-color: #ffcfb7;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 15px;   
    }
    #content4{
        grid-area: content4;
        background-color: #ffcfb7;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 15px;      
    }
    #content5{ 
        grid-area: content5;
        background-color: #ffcfb7;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 15px;     
    }

    #content6{ 
        grid-area: content6;
        background-color: #ffcfb7;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "spotlight1 spotlight2";
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);   
    }
    
    #content6>div{
        
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
        
    }
    #spotlight3{
        display: none;
    }*/
    .container2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr;
        grid-template-areas:
            "address contact" 
            "info info";
        gap: 5px;
       height: fit-content;
       padding: -150px;
    }
    
    .address1{
        margin-left: 130px;
        margin-top: -100px;
    }
    
    #address{
        grid-area: address;
    }
    
    #contact{
        grid-area: contact;
        justify-content: right;
    }
    
    #info{
        grid-area: info;
    }

    
}
