@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Pangolin&family=Tillana&display=swap');

body{
    max-width: 940px;
    margin: 0 auto;
    padding: 1em;
  }

main {
    margin: 0.3em;
    padding: 0.3rem;
    /*background-color: #fef9ef;*/
    align-items: center;
  }

header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px 0;
    justify-content: space-between;
    /*max-width: 900px;*/
    /*background-color:#17c3b2;*/
    border-radius: 25px 25px 0 0;
    background-color: #222e9d;
  }

h1{
    font-family:'Fruktur',serif;
    color: #fe6d73;
    /*text-align: center;*/
    padding: 10px;
    margin-top: 0;
  }

header h2{
     margin-top: -50px;
     font-family: 'Pangolin', serif;
     color: #fe6d73;
     text-align: left;
  }

.container3{
      /*margin-left: 120px;
      margin-top: -90px;*/
      display: flex;
      flex-direction: column;
      margin-left: .5rem;
  }

.social{
    margin-right: .5rem;
}

nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}
nav{
    /*background-color: #222e9d ;*/
    padding: 1em;
    /*width: 100%;*/
    /*border-radius: 25px 25px 0 0;*/
}
nav ul li a{
  /*background-color: #222e9d;*/
  color: #ffcfb7;
  display: block;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  font-family:'Pangolin', Helvetica, serif;
}
nav ul {
list-style-type: none;
margin: 0;
padding: 0;
/*overflow: hidden;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(6em, 1fr)); */
}

nav ul li a:hover {
    color: #222e9d;
    background-color: #ffcb77;
    border-radius: 5px;
    box-shadow: 2px 6px 12px ;
}

nav ul{
    display:none;
}
nav ul.open{
    display:block;
}

#humbugerbtn span:nth-child(1){display: block;}
#humbugerbtn span:nth-child(2){display: none;}

#humbugerbtn.open span:nth-child(1){display: none;}
#humbugerbtn.open span:nth-child(2){display: block;}

.logo {
width: 120px;
/*position: center;*/
border-radius: 50px;
padding: .35em;
}

.container{
    display: grid;
    height: 100vh;
    background-color: white;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "content4"
        "content1" 
        "content2" 
        "content5"
        "content6";
}

#content1{
    grid-area: content1;
    background-color: #ffcfb7;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px;
}  
#content2{ 
    grid-area: content2;
    background-color: #ffcfb7;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px;   
       
}
/*#content3{ 
    grid-area: content3;
    background-color: #ffcfb7;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px;   
}*/
#content4{
    grid-area: content4;
    background-color: #ffcfb7;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px;      
}
#content5{ 
    grid-area: content5;
    background-color: #ffcfb7;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px;     
}
#content6{ 
    grid-area: content6;
    background-color: #ffcfb7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "spotlight1"
    "spotlight2";
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);  
}

#content6>div{
    
padding: 10px;
border: 1px solid rgba(0, 0, 0, 0.5);
    
}
#spotlight3{
    display: none;
}


 
h2, h3, h4, h5, h6 {
  font-family: 'Pangolin', serif;
  /*font-size: 1.75em;*/
  /*line-height: 1.1em;*/
  color: #fe6d73;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}

p {
  font-family:'Tillana', Helvetica, sans-serif;
  font-size: 1.25em;
  line-height: 1.35em;
  margin-top: 0;
  padding: 10px;
  color: #222e9d;
  text-align: center;
}

footer {
background-color: #222e9d;
align-items: center;
justify-content: center;
line-height: 2.75em;
margin: 0.5rem;
padding-top: 0.5rem;
}

footer p {
    color: #ffcfb7;
}
    
footer a{
    color: #ffcfb7;
    text-decoration: none;
}
.phoneicon{
    color: #ffcfb7;
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-template-areas:
        "address contact" 
        "info info";
    gap: 5px;
   height: fit-content;
   padding: -150px;
}

.address1{
    margin-left: 130px;
    margin-top: -100px;
}

#address{
    grid-area: address;
}

#contact{
    grid-area: contact;
    justify-content: right;
}

#info{
    grid-area: info;
}

